.container {
    display:grid;
    height:100vh;
    grid-template-columns: 0.3fr 0.6fr 0.3fr;
    grid-template-rows: 0.1fr 0.8fr 0.2fr 0.2fr ;
    grid-template-areas:
    "nav nav nav"
    "sidebar1 main sidebar2"
    "sidebar1 content1 sidebar2"
    "footer footer footer";   
    grid-gap: 0.2rem;
}

nav {
    background-color:cadetblue;
    grid-area:nav;
}

main {
    background-color:cornflowerblue;
    grid-area:main;
}

footer {
    background-color:darkolivegreen;
    grid-area:footer;
}

#content1 {
    background-color:darkslategray;
    grid-area:content1;
}

#sidebar1 {
    background-color:darkslategray;
    grid-area:sidebar1;
}

#sidebar2 {
    background-color:darkslategray;
    grid-area:sidebar2;
}

@media only screen and (max-width:550px) {
    .container {
        grid-template-columns:1fr;
        grid-template-rows: 0.1fr 0.8fr 0.2fr 0.1fr 1px 1px;
        grid-template-areas:
        "nav"
        "main"
        "content1"
        "footer";
    }
}